body {
  background-color: #edeff2;
  font-family: Roboto, sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}
h1 {
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-bottom: 10px;
  color: #3469b0;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}
h3 {
  display: inline-block;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: uppercase;
}
h4 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h6 {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}
.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border-radius: 10px;
  background-color: #296fb6;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: #2e9dff;
}
.button.w--current {
  background-color: #2e80b6;
}
.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}
.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}
.button.tab:hover {
  background-color: #2e80b6;
}
.button.tab.w--current {
  background-color: #2e80b6;
}
.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #676770;
}
.navigation-link:hover {
  color: #2e9dff;
}
.navigation-bar {
  position: relative;
  height: 60px;
  background-color: white;
}
.navigation-bar.static {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
}
.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family:'Open Sans', sans-serif;
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.brand-link {
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.brand-link.w--current {
  padding-top: 5px;
  padding-bottom: 5px;
}
.section {
  position: relative;
  padding: 80px 10px 30px;
  background-color: white;
  text-align: center;
}
.section.accent {
  background-color: #192024;
}
.section.lessspace {
  padding-top: 30px;
}
.section.lesspaceup {
  padding-top: 10px;
}
.section.contact {
  padding-top: 120px;
}
.white-box {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}
.white-box.transparent {
  border-style: none;
  background-color: transparent;
}
.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}
.hero-section.centered {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 4px solid #69b9ff;
  background-image: -webkit-linear-gradient(rgba(46, 157, 255, 0.49), rgba(46, 157, 255, 0.2)), url('../images/photo-1416359658663-73a3834895eb.jpg');
  background-image: linear-gradient(rgba(46, 157, 255, 0.49), rgba(46, 157, 255, 0.2)), url('../images/photo-1416359658663-73a3834895eb.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  text-align: center;
}
.hero-heading {
  margin-bottom: 30px;
  color: white;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.hero-subheading {
  margin-bottom: 40px;
  color: #2e9dff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: white;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}
.hollow-button.all-caps {
  text-transform: uppercase;
}
.section-heading {
  margin-top: 10px;
  margin-bottom: 16px;
}
.section-heading.centered {
  margin-bottom: 0px;
  color: #676770;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.section-heading.centered.white {
  color: white;
}
.section-subheading.center {
  color: #8e8e9c;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.section-subheading.center.off-white {
  padding-bottom: 0px;
  color: #e8e8e8;
}
.section-title-group {
  margin-bottom: 30px;
  padding-top: 80px;
}
.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid black;
  border-radius: 3px;
  box-shadow: rgba(64, 64, 71, 0.29) 0px 0px 0px 1px, black 0px 0px 50px -26px inset;
  font-size: 18px;
}
.form-field.text-area {
  height: 110px;
}
.footer {
  padding: 0px 10px;
}
.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}
.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}
.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid white;
  border-radius: 50%;
  background-color: #69b9ff;
  box-shadow: #2e9dff 0px 0px 0px 1px;
}
.info-icon {
  float: left;
}
.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
.footer-link:hover {
  color: rgba(0, 140, 255, 0.84);
}
.footer-link.with-icon {
  margin-left: 30px;
}
.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}
.tabs-wrapper {
  text-align: center;
}
.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}
.white-text {
  margin-bottom: 20px;
  color: white;
}
.form {
  margin-top: 40px;
}
.spc {
  text-align: center;
}
.mainslider {
  height: auto;
}
.titleimage-icon {
  position: static;
  display: inline-block;
  width: 25px;
  margin-top: 0px;
  margin-left: 10%;
  padding-left: 1px;
  float: left;
  list-style-type: none;
  text-shadow: black 1px 1px 6px;
}
.title-caption-column {
  padding-top: 0px;
  text-align: center;
}
.imagetitle {
  display: inline-block;
  width: 80%;
  margin-right: 0%;
  margin-bottom: 30px;
  font-weight: 400;
}
.leftinfographic {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 67%;
  height: auto;
  float: left;
}
.rightinfographic {
  width: 37%;
  margin-left: -87px;
  float: right;
}
.infographic {
  margin-top: 30px;
}
.galleryrow {
  margin-bottom: 10px;
}
.mainsliderimg {
  width: 100%;
}
.gallerycontainer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.title {
  margin-bottom: 30px;
  color: #193c66;
}
.alignleft {
  text-align: left;
}
.leftspace {
  margin-left: 15px;
  text-transform: none;
}
.nopadding {
  padding-right: 0px;
  padding-left: 0px;
}
.detailwhatwedo {
  font-size: 16px;
}
.detailwhatwedo.inline {
  display: inline-block;
}
.detailwhatwedo.centername {
  margin-top: 25px;
}
.caption {
  margin-top: 30px;
}
.flagicon {
  width: 50px;
  margin-left: 10px;
}
.madeincolumn {
  padding-top: 22px;
  text-align: right;
}
.logospace {
  margin-top: 10px;
  margin-bottom: 10px;
}
.aeroclearlogo {
  width: 400px;
}
.headlinetext {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #3669b0;
  font-size: 25px;
  line-height: 25px;
}
html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}
html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}
html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}
html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}
html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}
html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
}
@media (max-width: 991px) {
  .navigation-link {
    color: rgba(255, 255, 255, 0.52);
  }
  .navigation-link.w--current {
    color: white;
  }
  .hamburger-button.w--open {
    background-color: #3b99d9;
  }
  .navigation-menu {
    border-bottom-style: solid;
    border-bottom-color: white;
    background-color: #3b99d9;
  }
  .section.lessspace {
    padding-top: 30px;
  }
  .hero-section.centered {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .grid-image {
    width: 50%;
    padding: 15px;
  }
  .headlinetext {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }
  .button.tab {
    font-size: 12px;
  }
  .white-box {
    margin-bottom: 30px;
  }
  .hero-section.centered {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }
  .hero-subheading {
    font-size: 18px;
  }
  .form-field.text-area {
    display: block;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .grid-image {
    width: 20%;
    padding: 20px;
  }
  .spc {
    margin-bottom: 0px;
  }
  .titleimage-icon {
    margin-left: 0%;
    float: none;
  }
  .imagetitle {
    margin-top: 20px;
  }
  .nopadding.center {
    padding-top: 10px;
    text-align: center;
  }
  .detailwhatwedo {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .lightbox-link {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 200px;
    margin-top: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .headlinetext {
    line-height: 25px;
  }
}
@media (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }
  .hero-section.centered {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section-subheading.center {
    line-height: 30px;
  }
  .grid-image {
    width: 35%;
  }
}

